%html
  %head
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html;charset=UTF-8"}
    %title CiLite
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css', :media=>'screen,tv,projection'}
  %body
    #wrap
      #header
        %h1
          %a{:href => '/'} CiLite

      #content
        = yield

      #footer
        %a{:href => 'http://github.com/jugyo/cilite'} CiLite